.busqueda-modal{
    border: 1px solid black;
    background-color: bisque;
    border-radius: 10px;
    margin-top: 20px;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
    text-align: center;
    font-size: 20px;
    width: fit-content;
}
.cliente-data{
    display: flex;
    flex-direction: row;
    background-color: rgb(108, 179, 212);
    padding: 10px;
    justify-content: space-between;
    border-radius: 10px;
}

.cliente-data-render{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 15px;
    justify-content: space-between;
}

.cliente-data-firma{
    display: flex;
    flex-direction: column;
    background-color: rgb(108, 179, 212);
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.modal-elements-busqueda{
    display: flex;
    flex-direction: row;
    background-color: rgb(108, 179, 212);
    gap: 25px;
    text-align: left;
    width: fit-content;
    display: column;
    margin-right: 20px;
    border-radius: 5px;
}

.modal-elements{
    text-align: left;
    width: fit-content;
    display: column;
    margin-right: 20px;
}

.modal-elements-declaracion{
    text-align: justify;
    width: 700px;
    display: column;
    margin-right: 20px;
}


.gar-inactive{
    display: none
}

.gar-active{
    display: flex;
}

.title-consulta {
    width:max-content;
    padding: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.data-consulta-status{
   align-self: center; 
   font-size: 23px;
   background-color: green;
   text-align: center;
   color: aliceblue;
   padding: 5px;
   border-radius: 5px;
   margin: 0;
   margin-left: 5px;
}
.data-consulta-status-anular{
    align-self: center; 
    font-size: 23px;
    background-color: rgb(240, 92, 13);
    text-align: center;
    color: aliceblue;
    padding: 5px;
    border-radius: 5px;
    margin: 0;
    margin-left: 5px;
 }

.not-exist{
    font-size: 25px;
    color: rgb(43, 41, 41);
}

.button {
    align-self: center;
    margin-top: 30px;
}

.work-data {
    background-color: rgb(108, 179, 212);
    padding: 10px;
    border-radius: 10px;
}

.orden-data {
    width: fit-content;
    margin-left: 3px;
    font-weight: bold;
}

.orden-diagnostico {
    width: fit-content;
    margin-left: 3px;
    font-family: Arial, Helvetica, sans-serif;
}

.button-close {
    margin-top: 5%;
    margin-bottom: 10px;
    color: white;
    background-color: red;
    border-style: none;
    padding: 2%;
    border-radius: 5px;
}

.button-editar {
    margin-top: 5%;
    margin-bottom: 10px;
    margin-left: 10px;
    color: white;
    background-color: rgb(31, 40, 132);
    border-style: none;
    padding: 2%;
    border-radius: 5px;
}

.button-editar-main {
    margin-top: 5%;
    margin-bottom: 10px;
    margin-left: 10px;
    color: white;
    background-color: rgb(31, 40, 132);
    border-style: none;
    padding: 15%;
    border-radius: 5px;
}

.detalle-repuestos {
    height: fit-content;
    width: fit-content;
    resize: none;
    background-color: rgb(108, 179, 212);
    border-style: hidden;
}

.firma-area-comprobante{
    display: flex;
    flex-direction: column;
    text-align: center;
}